* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
 margin-left: 50px;
  margin-right: 50px;
  background-image: url("background/mobilbg.png");
  background-repeat:repeat-y;
  background-size: 100%;
}

main {
  display: grid;
  justify-content: center;
  align-items: center;
}
header {
  margin-top: 40px;
  margin-bottom: 20px;
}

[data-action] {
  cursor: pointer;
}

.hide {
  display: none;
  visibility: hidden;
}


/*------------------------------------------overskrifter og tekst ------------------------------*/
h1,
h2 {
  text-align: center;

}
header h1 {
  line-height: 1.5;
}
h1 {
  font-size: 4rem;
    color:  blueviolet;
    font-family: 'Berkshire Swash', cursive;
}
header h2 {
  font-size: 1.6rem;
    color: rgb(246, 187, 128);
}
.h2_list {
  text-align: start;
  color: blueviolet;
}

th {
  font-size: 1.1rem;

  text-align: start;
  font-family: 'Berkshire Swash', cursive;
  
}
table th{
  padding-right: 20px;
}
table th:hover{
  color:blueviolet;
}
[ data-field="prefect"], 
[ data-field="squadMember"],
[ data-field="expelled"]{
  text-align: center;
}

/*---------------------------------------------------table-----------------------------------*/
[data-field=house],
[data-field=firstName],
[data-field=lastName]{
  font-weight:800;
}

#sorting th.sortby[data-sort-direction="asc"]::after {
  content: "↓";
}
#sorting th.sortby[data-sort-direction="desc"]::after {
  content: "↑";
}
#list {
  border-collapse: collapse;
}

#list tbody tr td {
  padding: 4px;
}
/* #list tbody {
  color: rgb(54, 40, 40);
} */
#list tbody tr:nth-child(odd) td {
  background-color:rgba(7, 7, 86, 0.623);
   color: rgb(240, 228, 209);
}

#list tbody tr:nth-child(even) td {
  background-color: rgba(8, 8, 98, 0.722);
  color: rgb(240, 228, 209);
}
td,
th {
  text-overflow: ellipsis;
  padding-right: 5px;
}

.details_btn {
  cursor: pointer;
  background-color: blueviolet;
  color: rgb(227, 219, 207) ;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  border: none;
 
}
.details_btn:hover {
   color: rgb(246, 184, 103);
}

table {
  width: 100%;
  
}
th{
  font-weight: 600;
  color: rgb(246, 184, 103);

}
[data-field="firstName"]{
  padding-left: 10px;
}
/*------------------------------------------------ student popup ------------------------------------------------------*/
#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
   
}
aside article {
  display: grid;
  grid-template-rows: 30px 350px;
  background-color:rgb(11, 11, 68);
  box-shadow: rgb(227, 219, 207) 0px 7px 29px 0px;
  width: 65%;
  height:80%;
  margin: 4em auto;
  border-radius: 3px;
  padding: 20px;
  color: rgb(227, 219, 207) ;
  line-height: 1.5;
  font-weight: 600;

}
.fullname{
   font-family: 'Berkshire Swash', cursive;
}

/* BLANDET MEDIA */
@media (min-width: 700px) {
  aside article {
  display: grid;
  grid-template-rows: 30px 350px;
  width: 40%;
  height:70%;
  margin: 4em auto;
  border-radius: 3px;
  padding: 20px;
    

}
body { 
 margin-left: 50px;
  margin-right: 50px;
  background-image: url("background/skynight.png");
  background-repeat:repeat-y;
  background-size: 100%;
}
h1 {
  font-size: 6rem;
    
}
#gridbox_mix{ /*box for currently disp. + hacking btn*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grid_container{
  display: flex;
  gap: 50px;
}


}

.the_info{
  display: grid;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.close_btn {
  background-color: blueviolet;
  cursor: pointer;
  border-radius: 50px;
  width: 1.5em;
  height: 1.5em;
  border: none;
}
.close_btn:hover {
   color: rgb(246, 184, 103);
}

.fotos{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.crest_box{
width: 70px;
height: 70px;
}
.crest{
  width: 100%;
  height: 100%;
}
.dialog button{
  background-color: blueviolet;
  text-align: center;
}
.dialog button:hover {
   color: rgb(246, 184, 103);
}
/*----------------------------------------------------filter btns-----------------------------------*/
button.filter {
  cursor: pointer;
  background-color:  blueviolet;
  color: rgb(240, 228, 209);
/*   box-shadow: rgba(198, 192, 192, 0.379) 0px 2px 8px 0px; */
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  border: none;
  margin-bottom: 20px;
  
}
button.filter:hover {
   color: rgb(246, 184, 103);
}
/*------------------------------------------------------prefect---------------------------------*/
td[data-field="prefect"]::after {
  content: "⭐";
}

td[data-field="prefect"][data-prefect="false"]::after {
  filter: grayscale(1);
}
#warningbox_prefect h3 {
  text-align: center;
  font-size: 1.5rem;
  color:rgb(246, 184, 103);
}
#warningbox_squad h3 {
  text-align: center;
  font-size: 1.5rem;
  color:rgb(246, 184, 103);
}
#warningbox_noexpell h3 {
  text-align: center;
  font-size: 1.5rem;
  color:rgb(246, 184, 103);
}
#warningbox_hacked h3 {
  text-align: center;
  font-size: 1.5rem;
  color:rgb(246, 184, 103);
}
#warningbox_hacked_squad h3 {
  text-align: center;
  font-size: 1.5rem;
  color:rgb(246, 184, 103);
}
button.closebutton {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: blueviolet;
  border-radius: 50px;
  width: 1.5em;
  height: 1.5em;
  border: none;
}
.closebtn{
    position: absolute;
  top: 3px;
  right: 3px;
  background-color: blueviolet;
  border-radius: 50px;
  width: 1.5em;
  height: 1.5em;
  border: none;
    color:  rgb(240, 228, 209);
 
}
.removeaorbbtn {
  background-color: blueviolet;
  border: none;
  color:  rgb(240, 228, 209);
  padding: 2px;
  border-radius: 40px;
  padding-left: 8px;
  padding-right: 8px;
  width: 130px;
  text-align: start;
  margin-top: 10px;
}
.removeaorb_grid {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.removeaorbbtn:hover {
   color: rgb(246, 184, 103);
}
.closebtn:hover {
   color: rgb(246, 184, 103);
}
button.closebutton:hover {
   color: rgb(246, 184, 103);
}
/*----------------------------------------------------squad-------------------------------------------------*/
/* td[data-field="squadMember"]::after {
  content: "🧙";
}

td[data-field="squadMember"][data-squad="false"]::after {
  filter: grayscale(1);
  
} */

/*-------------------------------------------------warningboxes--------------------------------------------*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog {
  box-shadow: 1px 3px 20px rgb(227, 219, 207) ;
  border-radius: 12px;
  padding: 20px;
  background-color:rgb(8, 8, 98);
  position: relative;
  color: rgb(227, 219, 207) ;
}
.dialog p {
  padding: 5px;
}
.dialog h3 {
  margin-bottom: 5px;
  color: rgb(112, 44, 197);
}

.okay_btn {
  background-color: rgb(112, 44, 197);
  border: none;
  border-radius: 50px;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 10px;
}

.okay_btn :hover {
   color: rgb(246, 184, 103);
}
/*---------------------------------------searchbar-------------------------------------*/
.grid_box1 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.student_numbers {
  margin-top: 10px;
}
.search {
  border-radius: 50px;
  padding: 3px;
  width: 170px;
 border: none;
 margin-bottom: 20px;

}

.numberinsearch{
  color: rgb(227, 219, 207) ;
  margin-bottom: 20px;

}
/*-----------------------------------------------------hacking-------------------------------------------*/
#hack_box{
  /*   display: grid;
    justify-content: center; */
    margin-bottom: 20px;
}

#hack {
  border-radius: 10px;
 background-color: rgb(112, 44, 197);
  color: rgb(240, 228, 209);
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 2px;
   padding-top: 2px;
  border: none;
}
#hack:hover {
   color: rgb(246, 187, 128);
}

/*-----------------------------currently displayed-----------------*/
.sort_numbers {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: rgb(246, 184, 103);
  font-size:1.3rem ;
  margin-bottom: 20px;
  font-family: 'Berkshire Swash', cursive;
}
.cur_dis{
  padding-right: 10px;
}

/* ---------------------------------------------------animations ??----------------------------------------------*/


/*----------------------------------------------------animations slut--------------------------------------------*/


/*----------------------------------------------------------FOOTER-----------------------------------------------------*/
footer{
  color: rgb(227, 219, 207) ;
 margin-bottom:  20px;
  margin-top:  20px;
  text-align: center;
}